#sort {
	background: url('/img/opaque80.png') repeat;
}
#list {
	background: url('/img/opaque80.png') repeat;
}
#contentinfo {
	background: url('/img/opaque80.png') repeat;
}
#contentnav {
	background: url('/img/opaque80.png') repeat;
}
#content {
	background-color: transparent;
}

