/*************
 * HTML body *
 *************/
html body {
	margin: 0px;
	padding: 0px;
	font-family: georgia,sans-serif;
	background-color: black;
	height: 100%;
	overflow: hidden;
}
p {
	font-size: 14px;
	margin: 15px;
}
a {
	font-size: 14px;
}

/********************
 * Background image *
 ********************/
#background {
	float:left;
	width:100%;
	max-height: 90%;
	background-repeat:no-repeat; 
	background-size: 100%;
	background-position: center top;
	z-index: 1;
	top: 100px;
	left: 0;
	right: 0;
	bottom: 50px;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
}
#bglink {
	width:100%;
	height:100%;
	top: 0;
	left: 0;
    border: 0;
	display: inline-block;  
	z-index: -1;
	position: absolute;
}
#background a:visited {
	text-decoration: none;
}

/*********************
 * The settings page *
 *********************/
#settingslist {
	width: 100%;
	height:660px;
	float:left;
	overflow: auto;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
}
/***********************
 * Settings edit table *
 ***********************/
.edittable th{
	width: 200px;
}
.edittable input{
	width: 425px;
}
.edittable option{
	width: 400px;
}

/*************************************
 * Wrapper contains all the elements *
 *************************************/
#wrapper {
	margin:0px auto;
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background-color: gray;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	position: absolute;
}

/***********************************
 * Logo, document head, user login *
 ***********************************/
#header {
	background-color:#000;
	#width: 100%;
	#height: 70px;
	#float: left;
	height: 70px;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	overflow: hidden;
}
#headerlogo {
	float: left;
}
#header a img {
	border: none;
}
/*************
 * Login box *
 *************/
#user {
	float: right;
	margin: 10px;
	color: white;
}
#user label{
	color: white;
	text-align: center;
}

/*******************
 * Page navigation *
 *******************/
#navigation {
	background-color:#000;
	margin: 0px;
	padding: 0px;
	height: 30px;
	top: 70px;
	left: 0;
	right: 0;
	position: absolute;
}
#navigation #current {
	color: white;
	text-decoration: none;
	background-color:#000;
	font-size: 16px;
}
#navigation a {
	color: grey;
	font-size: 12px;
	padding: 0px 5px 0px 5px;
	margin: 10px;
	text-decoration: none;
	background-color:#000;
}

/***************
 * Page footer *
 ***************/
#footer {
	height:53px;
	background-color: black;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}
#footer p {
	color: white;
	padding:10px;
}

/*******************
 * Sidebar (lists) *
 *******************/
#sidebar {
	width: 300px;
	top: 10px;
	left: 5px;
	bottom: 10px;
	position: absolute;
	background-color: rgba(255,255,255,0.9);
	#background-color: white;
}
#sidebar p {
	font-size: 16px;
	margin: 0px;
	padding: 0px;
}
#sidebar a {
	font-size: 16px;
	text-decoration: none;
	color: black;	
}
.header {
	width: 100%;
	height: 20px;
	text-align: center;
	position:absolute;
}

/*******************
 * Sorting options *
 *******************/
#sort {
	width:100%;
	height: 25px;
	top: 0px;
	left: 0px;
	position:absolute;
}
#sortheading {
	height: 25px;
	top: 0px;
	left: 0px;
}
#sortcontent select {
	width: 160px;
}
#sortcontent {
	width:100%;
	text-align: left;
	top: 25px;
	left: 0px;
	position:absolute;
}
/*****************
 * Sidebar lists *
 *****************/
#list {
	width: 100%;
	top: 25px;
	bottom: 0px;
	left: 0px;
	position:absolute;
}
#listheading {
	top: 0px;
	left: 0px;
}
#listcontent {
	width: 100%;
	border: 1px inset black;
	text-align: left;
	background-color: rgba(0,0,0,0.1);
	overflow: auto;
	top: 20px;
	bottom: 0px;
	left: 0px;
	position:absolute;
}
#showlistheading {
	top: 0px;
	left: 0px;
}
#showlist {
	width: 100%;
	border: 1px inset black;
	background-color: rgba(0,0,0,0.1);
	text-align: left;
	overflow: auto;
	top: 20px;
	bottom: 50px;
	left: 0px;
	position:absolute;
}
#seasonlistheading {
	left: 0px;
	bottom: 25px;
}
#seasonlist {
	width: 100%;
	border: 1px inset black;
	background-color: rgba(0,0,0,0.1);
	text-align: left;
	overflow: auto;
	bottom: 25px;
	left: 0px;
	position:absolute;
	z-index: 0;
}
#eplistheading {
	left: 0px;
	bottom: 0px;
}
#eplist {
	width: 100%;
	border: 1px inset black;
	background-color: rgba(0,0,0,0.1);
	text-align: left;
	overflow: auto;
	bottom: 0px;
	left: 0px;
	position:absolute;
}
#list li:hover {
	background-color: black;
	color: white;
	text-decoration:none;
}
#list li {
	padding: 3px;
	cursor: default;
	list-style:none;
}
#list h4 {
	text-align: center;
	padding: 3px;
}
.listtable th {
	width: 40px;
}

/*********************************
 * Page content (movie info etc) *
 *********************************/
#content {
	top: 10px;
	left: 350px;
	right: 10px;
	bottom: 10px;
	position: absolute;
	background-color: rgba(255,255,255,0.9);
	#background-color: white;	
}
/**********************
 * Content navigation *
 **********************/
#contentnav {
	width:100%;
	height: 30px;
	border-bottom: 1px solid #999;
	top: 0px;
	left: 0px;
	position: absolute;
}
#contentnav .current {
	color: black;
	text-decoration: none;
	font-size: 16px;
}
#contentnav a {
	color: grey;
	font-size: 12px;
	padding: 0px 5px 0px 5px;
	text-decoration: none;
}
/*********************
 * Content info page *
 *********************/
#contentinfo {
	width: 100%;
	top: 31px;
	bottom: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
}
#contentinfo p {
	font-size: 14px;
	margin:8px 0;
}
#contentinfo th {
	vertical-align: top;
	text-align: left;
	width: 130px;
}
#contentinfo td {
	vertical-align: top;
	text-align: left;
}
/*************************************
 * Movie and TV-Show inforation page *
 *************************************/
#showinfo {
	left: 0px;
	right: 0px;
}
#movieinfo {
	position:absolute;
	top: 0px;
	left: 0px;
	right: 240px;
}
#poster {
	position:absolute;
	top: 10px;
	right: 10px;
	width: 210px;
	text-align: center;
}
#poster img{
	max-width: 210px;
	border: 1px solid black;
}
#banner {
	margin-top: 10px;
	left: 0px;
	right: 0px;
	text-align: center;
}
#banner img{
	height: 140px;
	border: 1px solid black;
}
#title {
	padding: 3px;
}
#infotable td{
	padding: 3px;
}
#editinput {  
	width: 100%;
	font-family: georgia,sans-serif;
	font-size: 16px;
	margin: -3px;
	padding: 3px;
	background-color: rgba(0,0,0,0.1);	/*Darkens the background in supporting browsers*/
	color: black;
	border: 1px inset gray;
	max-height: 250px;
	outline: none;
	overflow-x: hidden;
	overflow-x: auto;
	resize: none;
}
#editinput.title {
	font-size: 32px;
	font-weight: bold;
}
#editsave {
	margin-top: 5px;
}

/*********************************
 * Actors (thumbnails and roles) *
 *********************************/
.actor {
	float: left;
	width: 160px;
	height: 300px;
	margin: 10px;
	border: 1px solid rgba(255, 255, 255, 0.8);
}
.actor p {
	text-align: center;
}
.thumb {
	max-width: 210px;
	max-height: 311px;
	float: right;
	border: 1px solid #000;
	margin: 0px;
	margin-top: 30px;
	margin-right: 10px;
	margin-left: 10px;
}
.actorthumb {
	max-width: 160px;
	max-height: 200px;
	display: block;
	margin: auto;
	border: 1px solid #000;
}
.actorpic {
	width: 160px;
	height: 200px;
	display: block;
	margin: auto;
}

/***********
 * Fan Art *
 ***********/
#backdrop {
	width: 100%;
	height: 620px;
	float: left;
	margin: 5px auto;
}
#backdrop img {
	width: 100%;
	max-height: 620px;
	display: block;
	margin: auto;
	border: 1px solid black;
}
#backdrop a {
	margin: 0px;
	padding: 0px;
}

/***************************
 * Class for round borders *
 ***************************/
.roundcorners {
	border: solid 15px;
	border-color: rgb(255, 255, 255); 		/* The Fallback */
	border-color: rgba(255, 255, 255, 0.9);	/* Color white with alpha 0.8*/
	border-radius: 15px;
	-o-border-radius:15px;					/* for Opera */
	-moz-border-radius:15px;				/* for Firefox */
	-khtml-border-radius: 15px;
	-webkit-border-radius:15px;				/* for Webkit-Browsers */
	background-clip:padding-box;
}

/******************************
 * Links a hrefs to shadowbox *
 ******************************/
a[rel~="shadowbox"] {
	margin: 0px;
	padding: 0px;
}

.editable
{
	padding-right: 20px;
	background-image: url('../img/edit.png');
	background-repeat: no-repeat;
	background-position: top right;
}


